 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px){
    .hide{
        display: none;
    }
    .pp-1{
        font-size: 35px;
        margin-left: 2%;
        margin-top: 10%;
    }
    .pp-2{
        font-size: 35px;
        margin-left: 2%;
    }
    .pp-3{
        font-size: 12px;
    }
    .navbar-dark .navbar-brand{
        font-size: 25px;
    }
    .hover-btn{
        margin-left: auto;
    }
    .cent-div{
        text-align: center;
    }
    footer{
        text-align: left;
    }
  
}
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .hide{
        display: none;
    }
    .pp-1{
        font-size: 40px;
        margin-left: 2%;
        margin-top: 10%;
    }
    .pp-2{
        font-size: 40px;
        margin-left: 2%;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hide{
        display: none;
    }
    .pp-1{
        font-size: 50px;
        margin-left: 2%;

    }
    .pp-2{
        font-size: 50px;
        margin-left: 2%;
        margin-top: 4%;
    }
    .pp-3{
        margin-left: 2%;

    }

  
  }
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {  
     .pp-1{
         font-size: 50px;
     }
     .pp-2{
         font-size: 50px;
     }
 }